%% -*- erlang -*-
{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.
{sub_dirs, ["rel", "src" ]}.
{deps,
 [
  %% Always leave the exodev dependency in place. Add your own
  %% dependencies as necessary. Please check deps/exodev/rebar.config
  %% for dependencies pulled in by the exodev stack itself.
  {exodev, ".*", {git, "git@github.com:Feuerlabs/exodev.git", "HEAD"}}
 ]
}.
{erl_opts, [debug_info, fail_on_warning]}.
